@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
.controls{
    position: absolute;
    top: 5%;
    left: 2%;
    height: 120px;
    width: 200px;
}

.rem{
    font-family: "Kanit", sans-serif;
    color: red;
    font-size: 18px;
}

.rem_sub{
    color: #fff;
    font-family: "Kanit", sans-serif;
}

.controls a{
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0px 1px 15px 11px rgb(32 32 32 / 90%), inset 0px 0px 6px 4px #888888;
}

.cal_body{
    padding: 20px;
    border-radius: 16px;
    background-color: transparent;
    border: 1px solid #282727;
    box-shadow: inset 1px -1px 9px 4px rgb(99 99 99);
}

input{
    font-family: "Kanit", sans-serif;
    height: 80px;
    width: 342px;
    padding: 5px;
    border: none;
    margin: 23px;
    background: #272626;
    box-shadow: 0px 0px 4px 0px rgb(99 99 99);
    font-size: 50px;
    text-align: end;
}

.long-input{
    font-size: 40px;
}

.long-inputs{
    font-size: 28px;
}

input::placeholder{
    color: #ffffff;
}

/* .text {
    font-family: "Kanit", sans-serif;
    color: #fff;
    text-align: center;
    margin: 2px;
    font-size: 15px;
} */

button{
font-family: "Kanit", sans-serif;
 border: none;
 width: 60px;
 height: 60px;
 border-radius: 50%;
 background: transparent;
 color: #fff;
 font-size: 20px;
 box-shadow: -2px -1px 11px 1px rgb(104 104 104 / 50%);
 margin: 20px;
 cursor: pointer;
}

button:active{
    color: rgb(116, 223, 21);
    box-shadow: 0px -2px 11px 1px rgb(57 54 54 / 50%);
}

.key{
    color: rgb(116, 223, 21);
    box-shadow: 0px -2px 11px 1px rgb(57 54 54 / 50%);
}

@media screen and (min-device-width: 200px) and (max-device-width: 991px) {
    .rem{
        display: none;
     }
     .rem_sub{
        display: none;
     }
}
@media screen and (min-device-width: 200px) and (max-device-width: 430px) {
    .cal_body{
        height: 480px;
        width: 280px;
        margin-top: 25%;
    }
    input{
        width: 224px;
        height: 50px;
        font-size: 30px;
    }
    .long-input{
        font-size: 20px;
    }
    
    .long-inputs{
        font-size: 18px;
    }

    button{
        height: 50px;
        width: 50px;
        font-size: 20px;
        box-shadow: -2px -1px 6px 1px rgb(104 104 104 / 50%);
    margin: 10px;
    }
    
}